fastapi[standard]==0.128.0
google-genai==1.57.0
inference-sdk==0.63.5
langgraph==1.0.5
langchain==1.2.3
langchain-google-genai==2.1.12
pydantic==2.11.9
pydantic_settings==2.11.0
requests==2.32.5
supabase==2.27.0
